$footer-height: 81px;

.layoutContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  height: 100%;
}

.layoutContent {
  padding-bottom: $footer-height;
  height: 100%;
}

.layoutFooter {
  height: $footer-height;
  background-color: #2C3E50;
}

